# Dependencies
node_modules/

# Build output
dist/
dist-electron/
out/
build/
out/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
.*cursor*
.specstory/


# Agent
.agent/

# Environment
.env
.env.local

# Electron
release/

# docs
docs/
.localdocs/

